<div class="container text-center">
    <div class="row">
        <div class="col-sm-12 mt-4">
     
        </div>
    </div>

    <div class="row formrow mx-auto">




        <div class="col-sm-12 mx-auto">
            <h3 class="mat-display-1">Login</h3>
           
            <form #loginForm="ngForm" (ngSubmit)="login()" class="example-form mx-auto">
                <mat-form-field class="example-full-width">
                    <mat-label for="username">Username</mat-label>
                    <input name="username" [ngClass]="{ 'is-invalid': username.touched && username.invalid }" #username="ngModel" [(ngModel)]="model.username" id="username" matInput placeholder="Ex. Amazingcake" required>
                    <span class="invalid-feedback">Username can't be blank.</span>

                </mat-form-field>

                <mat-form-field class="example-full-width">
                    <mat-label  for="password">Password</mat-label>
                    <input name="password" [ngClass]="{ 'is-invalid': password.touched && password.invalid }" #password="ngModel" [(ngModel)]="model.password" id="password" matInput placeholder="Ex. amazthecake123" required>
                    <span class="invalid-feedback">Password can't be blank.</span>
                </mat-form-field>

                <section class="example-section">
                    <mat-checkbox name="remember" #remember="ngModel" [(ngModel)]="model.remember" id="remember" class="example-margin"></mat-checkbox>
                    <mat-label for="remember">Remember Me</mat-label>
                  </section>

                <button mat-raised-button [disabled]="loginForm.invalid">Login</button>
            </form>
        </div>


    </div>
</div>