
<section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto d-flex flex-column align-items-center">
        <h1 class="fw-light">About Us</h1>
        <div class="">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/7m16dFI1AF8" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <p class="lead mt-4">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam molestiae nihil commodi dicta modi. Totam!
                <br><br>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi, ullam architecto nam, dolores iusto dicta odit porro, alias voluptatum accusantium ducimus deserunt iste optio nesciunt!
                <br><br><br>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugiat temporibus, expedita quo unde accusantium alias odit quos sit aliquam libero quia nihil qui est distinctio rem repellat nesciunt, numquam, optio animi assumenda modi ratione facilis suscipit. Iusto nostrum libero facilis!
            </p>
        </div>
      </div>
    </div>
  </section>