<div class="page-wrapper">



    <div class="hero d-flex text-center text-dark">
      <div class=" d-flex wrapper justify-content-md-center align-items-md-center">
        <div class="cover-container justify-content-md-center d-flex p-3 flex-column">
          <main class="px-3">
            <h1>New Release</h1>
            <p class="display-4">Graphic Tees</p>
            <p class="lead">
              <button class="hero-btn" mat-raised-button>Shop Now!</button>
            </p>
          </main>
        </div>
      </div>
    </div>
  
    <section>
      <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
        <div class="col-md-5 p-lg-5 mx-auto my-5">
          <h1 class="display-4 fw-normal">Shop today and get shipping for free</h1>
          <p class="lead fw-normal">And an even wittier subheading to boot. Jumpstart your marketing efforts with this
            example based on Apple’s marketing pages.</p>
          <a class="btn btn-outline-secondary" href="#">Coming soon</a>
        </div>
        <div class="product-device shadow-sm d-none d-md-block"></div>
        <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
      </div>
  
      <div class="d-md-flex flex-md-equal w-100 my-md-3 ps-md-3" style="height: 500px;">
        <div class=" evr home1 bg-dark me-md-3 pt-3 w-100 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
         
        </div>
        <div class="evr bg-light me-md-3 pt-3 w-100 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
          <div class="my-3 p-3">
              <h2 class="mat-display-1">Shop New Items Now!</h2>
              
              <button mat-raised-button >Shop now</button>
          </div>
  
        </div>
      </div>
  
      <div class="d-md-flex flex-md-equal w-100 my-md-3 ps-md-3" style="height: 500px;">
          <div class=" evr  bg-light me-md-3 pt-3 w-100 px-3 pt-md-5 px-md-5 text-center text-dark overflow-hidden">
            <div class="my-3 py-3">
              <h2 class="mat-display-1">Shop New Trends!</h2>
              
              <button mat-raised-button >Shop now</button>
            </div>
           
          </div>
          <div class="evr home2 bg-light me-md-3 pt-3 w-100 px-3 pt-md-5 px-md-5 text-center  overflow-hidden">
            <div class="my-3 p-3">
              
            </div>
    
          </div>
        </div>
  
        <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
          <div class="col-md-5 p-lg-5 mx-auto my-5">
            <h1 class="display-4 fw-normal">Shop today and get shipping for free</h1>
            <p class="lead fw-normal">And an even wittier subheading to boot. Jumpstart your marketing efforts with this
              example based on Apple’s marketing pages.</p>
            <a class="btn btn-outline-secondary" href="#">Coming soon</a>
          </div>
          <div class="product-device shadow-sm d-none d-md-block"></div>
          <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
        </div>
        
        <div class="d-md-flex flex-md-equal w-100 my-md-3 ps-md-3" style="height: 500px;">
          <div class=" evr home4 bg-dark me-md-3 pt-3 w-100 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
           
          </div>
          <div class="evr home3 bg-light me-md-3 pt-3 w-100 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
            <div class="my-3 p-3">
              
            </div>
    
          </div>
        </div>
    
  
  
    </section>
  
    
  </div>
  